html{
    background-color: rgb(35, 35, 35);
}
.answer {
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    min-width: 20%;
    max-width: 35%;
    visibility: hidden;
}

/* When the screen width is 768px or smaller */
@media (max-width: 768px) {
    .answer {
        min-width: 60%;
    }
}

/* When the screen width is 480px or smaller */
@media (max-width: 480px) {
    .answer {
        min-width: 40%; /* Further adjust min-width for extra small screens */
        max-width: 60%; /* Further adjust max-width for extra small screens */
    }
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#question{
    font-size: 30px;
    
}


.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#playagain{
    padding: 20px;
    font-size: 40px;
    display: none;
    margin: 0 auto;
}

#answer1{
    background-color: rgb(193, 71, 71);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer2{
    background-color: rgb(51, 153, 201);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer3{
    background-color: rgb(63, 172, 67);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer4{
    background-color: rgb(201, 141, 55);
    border: hidden;
    color: white;
    font-size: 25px;
}
