html{
    background-color: rgb(35, 35, 35);
}
#question{
    font-size: 30px;
    
}
.answer {
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    width: 40%;
    visibility: hidden;
}

@media (max-width: 768px) {
    .answer {
        min-width: 75%;
    }
    #question{
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .answer {
        min-width: 100%;
    }
    #question{
        font-size: 25px;
    }
}
@media (max-height: 650px) {
    .answer {
        padding: 5px;
        font-size: 10px;

    }
    #question{
        font-size: 25px;
    }
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#playagain{
    padding: 20px;
    font-size: 40px;
    display: none;
    margin: 0 auto;
}

#answer1{
    background-color: rgb(193, 71, 71);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer2{
    background-color: rgb(51, 153, 201);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer3{
    background-color: rgb(63, 172, 67);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer4{
    background-color: rgb(201, 141, 55);
    border: hidden;
    color: white;
    font-size: 25px;
}
