html{
    background-color: rgb(23, 23, 23);
}

#bottom-left-text {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    font-size: 14px; 
    padding: 5px 10px; 
    border-radius: 5px; 
}
#question{
    font-size: 30px;
    
}

#resultstext{
    display: none;
}

#results{
    color: white;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.answer {
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    width: 40%;
    visibility: hidden;
}

@media (max-width: 768px) {
    .answer {
        min-width: 75%;
    }
    #question{
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .answer {
        min-width: 100%;
    }
    #question{
        font-size: 25px;
    }
}
@media (max-height: 650px) {
    .answer {
        padding: 5px;
        font-size: 10px;

    }
    #question{
        font-size: 25px;
    }
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#playagain{
    padding: 10px;
    font-size: 40px;
    display: none;
    margin: 0 auto;
    border-radius: 20px;
    border: hidden;
    font-weight: bold;
    background-color: rgb(50, 51, 51);
    color: white;
    width: 250px;
}
#playagain:hover{
    background-color: rgb(40, 41, 41);
}
#playagain:active{
    background-color: rgb(50, 51, 51);
}


#answer1{
    background-color: rgb(193, 71, 71);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer2{
    background-color: rgb(51, 153, 201);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer3{
    background-color: rgb(63, 172, 67);
    border: hidden;
    color: white;
    font-size: 25px;
}
#answer4{
    background-color: rgb(201, 141, 55);
    border: hidden;
    color: white;
    font-size: 25px;
}

#scoreholder, #score{
    visibility: hidden;
    font-size: 30px;
}
